crewai==0.51.1
crewai_tools==0.8.3
langchain==0.2.14
langchain_google_genai==1.0.10
pandas==2.2.2
plotly==5.23.0
python-dotenv==1.0.1
Requests==2.32.5
streamlit==1.37.1
streamlit_lottie==0.0.5
vaderSentiment==3.3.2
vaderSentiment==3.3.2
Wikipedia_API==0.7.1
google_cloud_resource_manager==1.12.5
streamlit-authenticator==0.3.3
streamlit-option-menu>=0.3.0
PyYAML==6.0.1
pillow==10.3.0